@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --color-light: #2176ff;
    --color-primary-500: #2151ff;
    --color-primary-600: #283db9;
    --color-primary-700: #242a77;
    --color-primary-800: #19193c;
    --color-primary-900: #000000;
    --main: var(--color-primary-500);
    --shadow: 4px 6px 42px -16px rgba(0, 0, 0, 0.43);
    --gray: #5e5e5e;
    --lightgray: lightgray;
    --dark: #34495e;
    --light: #eaeaea;
    --success: #0abf30;
    --error: #e24d4c;
    --warning: #e9bd0c;
    --info: #3498db;
}

a {
    text-decoration: none;
}

* {
    font-family: 'poppins';
}

body {
    display: flex;
}


/*utility classes */

.border-pill {
    border-radius: 50vw;
}

.flex-column {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.flex-c-c {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-ce-ce {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-start-ce {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-space-even-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c-flex {
    flex-direction: column;
    display: flex;
}

.r-flex {
    flex-direction: row;
    display: flex;
}

.menu {
    display: none;
}

.padding-5px10px {
    padding: 5px 10px;
}

.padding-5px5px {
    padding: 5px;
}

.p-705px1205px {
    padding: 7.5px 12.5px;
}

.p-705px {
    padding: 7.5px 11.5px;
}

.flex-center-start {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.but-light {
    background-color: var(--color-light);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.but-main {
    background-color: var(--main);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.but-main:hover {
    background-color: var(--color-primary-700);
}

.but-light:hover {
    background-color: var(--main);
}

.m-end-10 {
    margin-inline-end: 10px;
}

.m-start-10 {
    margin-inline-start: 10px;
}

.m-inline-10 {
    margin-inline: 10px;
}

.m-top-10 {
    margin-block-start: 10px;
}

.m-botom-10 {
    margin-block-end: 10px;
}

.m-block-10 {
    margin-block: 10px;
}

.p-y-105 {
    padding-block: 10.5px;
}


/*utility classes */

.chat {
    background-color: rgb(241, 241, 241);
}

.buttons {
    margin-inline-start: auto;
    margin-inline-end: 10px;
}

.buttons button {
    margin-inline-start: 5px;
}

.but-icon {
    margin-inline-end: 5px;
}

.main-container {
    display: grid;
    grid-template-columns: 1.1fr 6.63fr 0.20fr;
}

.nav {
    background-color: white;
    height: 100vh;
    border-right: 1px solid var(--lightgray);
    display: flex;
    gap: 20px;
}

.messages {
    border-right: 1px solid var(--lightgray);
}

.page {
    color: grey;
    margin-block-start: 20px;
    display: flex;
    font-weight: 500;
    cursor: pointer;
    padding: 7.5px 10px;
    white-space: nowrap;
}

.flex-column {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.nav {
    background-color: white;
    height: 100vh;
    border-right: 1px solid lightgray;
    display: flex;
    gap: 20px;
    position: relative;
}


/* The frame is positioned absolutely and moved by javascript
so that it's located above the active item */

.frame {
    position: absolute;
    border-radius: 5vw;
    outline: 2px solid var(--main);
    display: none;
}


/* Animate position */

.nav .frame.animate {
    transition: all 0.3s ease;
    display: block;
}

.page i {
    color: var(--gray);
    margin-inline-end: 10px;
}

.page svg {
    transform: scale(1.3);
    margin-inline-end: 10px;
}

.chat-window {
    width: 100%;
    height: 100%;
}

.input {
    outline: 2px solid var(--main);
    border-radius: 50vw;
    height: 7.5vh;
    margin-block-end: 15px;
    width: 95%;
    background-color: white;
}

.actions {
    border: none;
    cursor: pointer;
    background-color: var(--main);
    color: white;
    padding: 5px 10px;
    transition: 0.5s;
}

.actions:hover {
    background-color: var(--color-primary-700);
}

.fa-bolt {
    color: white !important;
}

.input input {
    height: 100%;
    border-style: hidden;
    width: 79%;
    font-weight: 600;
    background-color: white;
}

.input input:focus {
    outline: none;
}

.input i {
    color: gray;
}

.details {
    border-left: 1px solid var(--lightgray);
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    color: #5e5e5e;
    flex-direction: column;
}

.chat-details {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--lightgray);
    width: 100%;
}

.how-much {
    margin-inline-start: 20px;
}

.open {
    background-color: rgba(144, 238, 144, 0.516);
    border-radius: 50vw;
}

.Important {
    background-color: rgba(255, 204, 0, 0.402);
    border-radius: 50vw;
}

.email-display {
    background-color: rgba(91, 91, 91, 0.402);
    border-radius: 50vw;
    font-size: 10px;
    margin-inline-start: 10px;
}

.time-display {
    background-color: rgba(0, 82, 141, 0.402);
    border-radius: 50vw;
    font-size: 10px;
    margin-inline-start: 10px;
}

.chat-maker {
    border-radius: 50vw;
}

.circ {
    width: 10px;
    height: 10px;
    margin-inline-end: 5px;
}

.circ-green {
    background-color: rgb(69, 171, 69);
}

.circ-yellow {
    background-color: rgb(204, 163, 0);
}

.circ-gray {
    background-color: rgb(91, 91, 91);
}

.circ-blue {
    background-color: rgb(0, 82, 141)
}

.message {
    width: 85%;
    margin-block-start: 10px;
    border-radius: 10px;
    font-size: .65em;
    cursor: pointer;
    transition: 0.5s;
    margin-block-end: 10px;
    padding: 2px;
}

.activemsg .time {
    background-color: rgb(116, 116, 116);
}

.m {
    margin-inline-start: 5px;
    margin-block-end: 5px;
}

.activemsg {
    background-color: var(--lightgray);
    overflow: hidden;
}

.fa-paper-plane {
    transition: 0.5s;
    margin-inline-end: 10px;
}

.message:hover {
    background-color: rgb(238, 238, 238);
}

.activemsg:hover {
    background-color: var(--lightgray);
}

.m-top {
    padding-block: 19.6px;
    font-weight: 600;
}

.m-top i {
    margin-inline-start: 10px;
}

.inboxmenu {
    cursor: pointer;
    color: var(--gray);
}

.what {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    margin-inline-end: 5px;
    padding: 1px;
}

.time {
    background-color: var(--lightgray);
    font-weight: 600;
}

.maker {
    font-weight: 600;
    margin-block: 5px;
    z-index: 0;
    margin-inline-start: 5px;
}

.img {
    outline: 1px solid var(--lightgray);
    margin-inline-end: 5px;
}

.type {
    margin-block: 10px 10px;
}

.line {
    background-color: rgb(55, 55, 55);
    margin-block-start: 10px;
    width: 35%;
    height: 0.3%;
}

.detaill {
    margin-block-end: 5px;
    border-bottom: 1px solid var(--lightgray);
    width: 100%;
    padding-block: 20px;
    text-align: center;
    color: black;
    font-weight: 800;
}

.thing {
    color: black;
    font-weight: 700;
}

.small {
    font-size: 12px;
    color: black;
    margin-inline-start: 19px;
}

.top-bar {
    width: 100%;
    border-bottom: 1px solid var(--lightgray);
    background-color: white;
}

.botprofile {
    margin-inline-end: 10px;
    transform: scale(1.3);
}

.activemsg .img {
    outline: 1px solid var(--gray);
}


/* Media */

@media (max-width: 924px) {
    .what {
        max-width: 70px;
    }
    .input input {
        width: 65%;
    }
    .thing {
        font-size: 12px;
    }
    .email-display {
        font-size: 8px;
    }
    .circ {
        width: 7.5px;
        height: 7.5px;
    }
    .top-btn-close {
        display: none;
    }
    .time {
        font-size: 8px;
    }
    .menu {
        display: block;
    }
    .buttons {
        display: flex;
    }
    .nav {
        font-size: 12px;
    }
}

@media (max-height: 600px) {
    .input {
        height: 9.5vh;
    }
}

@media (min-width: 1564px) {
    .input {
        width: 65% !important;
        height: 6% !important;
    }
}


/* Media */


/* reset */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}