.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.toast::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border-radius: 50vw;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before {
    background-color: var(--success);
}

.toast.error::before {
    background-color: var(--error);
}

.toast.warning::before {
    background-color: var(--warning);
}

.toast.info::before {
    background-color: var(--info);
}

.toast.success .column i {
    color: var(--success);
}

.toast.error .column i {
    color: var(--error);
}

.toast.warning .column i {
    color: var(--warning);
}

.toast.info .column i {
    color: var(--info);
}

.toast .column i {
    font-size: 1.75rem;
}

.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}

.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

.toast i:last-child:hover {
    color: var(--light);
}

.notifications {
    position: fixed;
    top: 30px;
    right: 20px;
}

.notifications .toast {
    position: relative;
    width: 400px;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-block-end: 10px;
    background: var(--dark);
    justify-content: space-between;
    overflow: hidden;
    animation: show_toast 0.3s ease forwards;
    color: var(--light);
    z-index: 100;
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 20px));
    }
}